*{
    padding: 0;
    margin: 0;
}

button{
    width: 7%;
    padding: 1%;
    border: none;
    border-radius: 10px;
    background-color: rgb(26,45,243);
    color: white;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;      
    padding: 10%;
}

input{
    padding: 4%;
    border: none;
    border-radius: 5px;
    background-color: rgb(232,234,254);
    margin: 1%;  
    width: 90%; 
    outline: none;    
}

input::placeholder {
    color: rgb(100,113,241);
}

.headerForm{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.Bodyform{
    width: 20%;
    display: flex;
    flex-direction: column;
}